<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/Users/joanofsnark/PythonProjects/afp_page/bower_components/bootstrap/dist/css/bootstrap.min.css " rel="stylesheet" media="screen">
    <link href="bower_components/bootstrap/dist/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFP Alert</title>
  </head>



  <body>

    <div class="container">

    </div>
  </body>
  </html>
  

