{% extends "base.html" %}
{% block content %}

 <h1>So what is this all about??</h1>
 	<p>I like Amanda Palmer and I'd like to see her perform live someday. I know that she has a habit of doing spontaneous, live shows when she 
 		is on the road, and announcing them on twitter... but I'm not on twitter much. So since I'm trying to get some projects for my portfolio anyway, 
 		I wrote a script to check her twitter a couple of times a day, look for the name of my city, and send me an email if it was mentioned in the tweet. </p>

 	<p>The concept got enough traction that I decided to extend the project and make a website where anyone could sign up for similar updates. 
 		It's probably not the most elegant solution to the problem, so if any developers want to chime in and contribute, the code is open-source and <a href="https://github.com/mcgnly/afp_page">on Github</a>. Let's work together!</p>

      <br>
      <p>Click <a href="/">here</a> to go home.</p>

{% endblock %}